{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h3 class="text-center">MESSAGE</h3>
    <h4 class="text-center"><i>"{{query}}"</i></h4>
{% endblock %}

{% block content %}
    <h4 class="text-center">Message Categories:</h4>
	<br />
        <div class="card-columns">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
          			<div class="card text-white bg-info mb-3">
                      <div class="card-header">{{category.replace('_', ' ').title()}}</div>
          			</div>
                {% else %}
                {% endif %}
            {% endfor %}
          </div>
        </div>
    </div>

{% endblock %}
